html {
  font-family: Cantarell, sans-serif;
}
div.main {
  margin: 0 auto;
  max-width: 940px;
  padding: 10px;
}
div.main > * + *{
  margin-top: 2em;
}
table {
  border-collapse: collapse;
}
th {
  font-weight: bold;
  color: #3d3846;
  text-align: left;
}
th, td {
  margin: 0;
  padding: 0.5em 0;
  vertical-align: top;
}
td {
  padding: 0.5em 1em;
}
th {
  background-color: #deddda;
  background-color: #f6f5f4;
  padding: 0.5em 1em;
  font-weight: normal;
  color: #5e5c64;
}
a {
  text-decoration: none;
  color: #1a5fb4;
}
div.title {
  font-weight: bold;
  color: #3d3846;
  margin-bottom: 0.5em;
}
ul { margin: 0; }

div.linktrail {
  color: #5e5c64;
}
h1 {
  margin-top: 0;
  font-weight: normal;
  font-size: 4em;
}
a.gitlabis, a.gitlabmr {
  background-color: #99C1F1;
  color: black;
  margin-right: 6px;
  padding: 4px 8px;
  border-radius: 2px;
}

table.pages {
  border: solid 1px #deddda;
}
table.pages tr + tr > * {
  border-top: solid 1px #deddda;
}
.tip {
  background-color: #deddda;
  color: #3d3846;
  margin-left: 24px;
  padding: 4px 8px;
}
span.tip { font-size: 0.83em; }

div.allbranches span {
  background-color: #77767b;
  color: white;
  margin-right: 6px;
  padding: 4px 8px;
  border-radius: 2px;
}
div.allbranches a {
  text-decoration: none;
  background-color: #1a5fb4;
  color: white;
  margin-right: 6px;
  padding: 4px 8px;
  border-radius: 2px;
}
div.allbranches a:hover {
}
